; -*- mode: conf-windows;-*-

[user]
	name = cristian
	email = cristian@shopkick.com

[alias]
    st = status
    df = diff --ignore-all-space
    dc = diff --cached
    co = checkout
    br = branch
    undo-commit = reset --soft HEAD^
    amend = commit --amend

[color]
    diff = auto
    status = auto

[color "diff"]
       meta = yellow
       frag = yellow bold
       new = cyan
       old = red

[color "status"]
       added = cyan
       untracked = yellow
       changed = magenta
[push]
	default = simple
[pull]
	rebase = true
